.DS_Store

application/cache/*
application/session/*
!application/cache/index.html


application/logs/*
!application/logs/index.html

/vendor
/files
composer.lock

application/config/database.php
application/config/constants.php

/.htaccess